<section class="o-section">
	<div class="o-container">
		<div class="o-layout -gutter">
			<div class="o-layout_item u-1/2@from-medium">
				{{ about.title }}
			</div>
			<div class="o-layout_item u-1/2@from-medium">
				{{ about.description }}
			</div>
		</div>
	</div>
</section>