<footer class="c-site-footer">
	<div class="o-container">
		<div class="o-layout -gutter">
			<div class="o-layout_item u-1/2@from-medium">
				{% if page.socials %}
				<ul>
					{%- for social in page.socials -%}
					<li>
						<a href="{{ social.url }}" target="_blank" rel="nooponer noreferrer">
							{{ social.text }}
						</a>
					</li>
					{%- endfor -%}
				</ul>
				{% endif %}
			</div>
			<div class="o-layout_item u-1/2@from-medium">
				Updated {{ page.date | date: "%b %Y" }}
			</div>
		</div>
	</div>
</footer>