<!doctype html>
<html lang="en">
	<body>
		{% include header.liquid %}
		{{ name.first }} {{ name.last }}
		{{ content }}
		{% include intro.liquid %}
		{% include about.liquid %}
		{% include projects.liquid %}
		{% include thanks.liquid %}
		{% include footer.liquid %}
	</body>
</html>