
$section_offset: 20vh;

.o-section {
	overflow: hidden;
	padding-top: $section_offset / 2;
	
	@media (max-width: $to-small) {
		// margin-bottom: $section_offset;
	}
}

.o-section_inner {
	padding-top: $section_offset / 2;
	min-height: 35vh;
	// margin-top: $section_offset / 2;
	// margin-bottom: $section_offset / 2;

	&.-padding-bottom {
		padding-bottom: 10vh;
	}
}

.o-section-line_inner {
	// margin-top: 1px;
	padding-top: 1px;
	border-top: 1px solid;
	// margin-bottom: $section_offset / 2;
	opacity: 0;
	transform: rotateZ(-2deg) translateY($unit-small) scaleX(0.333);
	transition: opacity $speed * 4 $easing-long, transform $speed * 6 $easing-long;
	transition-delay: $speed;
	transform-origin: top right;

	.is-inview & {
		opacity: 1;
		transform: none;
	}

	.-delay-footer & {
		transition-delay: $speed * 3;
	}
}
