.o-title {
	
	perspective: 600px;

	@media (min-width: $from-small) {
	}
	@media (max-width: $to-small) {
	}

	& > * {
		display: inline-block;
		transform-style: preserve-3d;
		transform: translate3d(10%, -200%, 0) rotateX(90deg);
		transform-origin: bottom left;
		opacity: 0;
		transition: opacity $speed * 4 $easing-long, transform $speed * 4 $easing-long;
		transition-delay: $speed * 2;
	}
}

.is-inview .o-title > * {
	transform: none;
	opacity: 1;
}
