// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$white: #f9f0f4;
// $black: #0f060a;
$black: #231f21;
$transition-primary: lighten(#231f21, 3%);
$transition-secondary: $black;

// Specific
// =============================================================================
// Link
$link-color:       #231f21;
$link-focus-color: #231f21;
$link-hover-color: lighten(#231f21, 20%);
// Selection
$selection-text-color:       #f9f0f4;
$selection-background-color: #231f21;

// Social Colors
// =============================================================================
$facebook-color:  #3B5998;
$instagram-color: #E1306C;
$youtube-color:   #CD201F;
$twitter-color:   #1DA1F2;
